/* Design tokens */
:root {
    --clr-primario: #ff6f00;
    --clr-primario-claro: #ffa040;
    --clr-primario-oscuro:#c43e00;
    --clr-secundario: #37474f;
    --clr-secundario-claro:#62727b;
    --clr-secundario-oscuro:#102027;
    --clr-blanco:#F9F9F9;
    --clr-blanco-alt1:#ffffff;
    --clr-blanco-alt2:#c6c6c6;
    --ff-titulos: "Helvetica Neue";
    --ff-body: "Suisse Intl";
    /* https://type-scale.com */
    --h1: 49px;
    --h2: 39px;
    --h3: 25px;
    --h4: 20px;
  }
  
  /* Logo */
  .logo{}

  /* Carrousel */  
  .carrousel{
    display: flex;
  }
  .carrousel__titulo{}
  .carrousel__subtitulo{}
  .carrousel__boton{}
  .carrousel__imagen{
    max-width: 100%;
  }


/* https://cloudinary.com/ */
    
  /* Noticias */
    .noticias_titulo{}
    .noticias_item1{}
    .noticias_item2{}
    .noticias_item3{}

  /* Galeria */
    .galeria_titulo{}
    .galeria_imagen1{}
    .galeria_imagen2{}
    .galeria_imagen3{}
    .galeria_imagen4{}

  /* Contacto */
    .contacto_texto{}