/*** Imports ***/
@font-face {
  font-family: "Helvetica Neue";
  src: url("https://res.cloudinary.com/txikuri/raw/upload/v1631207965/verdepurpura/HelveticaNeueLTStd-Bd_wkdfdc.woff2");
}
@font-face {
  font-family: "Suisse Intl";
  src: url("https://res.cloudinary.com/txikuri/raw/upload/v1631207965/verdepurpura/SuisseIntl-Regular_uh5ovm.woff2");
}
/*** Design tokens ***/
:root {
  --clr-primario: #ff6f00;
  --clr-primario-claro: #ffa040;
  --clr-primario-oscuro: #c43e00;
  --clr-secundario: #37474f;
  --clr-secundario-claro: #62727b;
  --clr-secundario-oscuro: #102027;
  --clr-blanco: #F9F9F9;
  --clr-blanco-alt1: #ffffff;
  --clr-blanco-alt2: #c6c6c6;
  --ff-titulos: "Helvetica Neue";
  --ff-body: "Suisse Intl";
  --h1: 49px;
  --h2: 39px;
  --h3: 25px;
  --h4: 20px
}
/*** Reset ***/
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
li {
  padding-inline: 0;
}
img {
  max-width: 100%;
  display: block;
}

/*** Base ***/
body {
  color: var(--clr-secundario-oscuro);
  background-color: var(--clr-blanco);
  font-family: var(--ff-body)
}
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--ff-titulos)
}
/* Typescale */
h1 {
  font-size: var(--h1);
}
h2 {
  font-size: var(--h2);
}
h3 {
  font-size: var(--h3);
}
h4 {
  font-size: var(--h4);
}
h5 {
  font-size: var(--h5);
}
h6 {
  font-size: var(--h6);
}

/*** Componentes ***/
/* Logo */
.logo {
  height: 300px;
  display: flex;
  background-color: aliceblue;
  justify-content: space-between;
  align-items: center;
}
/* Carrousel */
.carrousel {
  display: flex
}
.carrousel__titulo {

}
.carrousel__subtitulo {

}
.carrousel__boton {

}
.carrousel__imagen {
  max-width: 100%
}

/* Noticias */

.news{
  width: 30%;
  padding: 60px 30px;
  display: flex;
  flex-direction: column;
}
.news_titulo {
  font-family: var(--ff-titulos);
  justify-content: space-around;
}
.news_item {
  display:flex;
  justify-content:left;
  margin: 20px 0;
  gap: 20px;
}

}
.news_img{

}
.news_text{
  display:flex;
  flex-direction: column;
}
.news_headline{
  font-family: var(--ff-titulos);
  margin-bottom: 10px;
}

.news_summary{
  font-family: var(--ff-body);
  font-size: 10pt;
}
/* Main */
.main{
  display:flex;
  }
  
  .contacto {
     background-color: #0d2065;
     width: 20%;
  }
  
  
  /* Galeria */
  .galeria{
  display:flex;
  width: 50%;
  }
  
  .galeria_proyecto {
  flex:1;
  
  
  }
  
.galeria_proyecto h2 {

}
.galeria_proyecto img {

}
.galeria_proyecto p {

}
/* Contacto */
.contacto_texto {

}
