/*** Imports ***/
@font-face {
  font-family: "Helvetica Neue";
  src: url("https://res.cloudinary.com/txikuri/raw/upload/v1631207965/verdepurpura/HelveticaNeueLTStd-Bd_wkdfdc.woff2");
}
@font-face {
  font-family: "Suisse Intl";
  src: url("https://res.cloudinary.com/txikuri/raw/upload/v1631207965/verdepurpura/SuisseIntl-Regular_uh5ovm.woff2");
}
/*** Design tokens ***/
:root {
  --clr-primario: #ff6f00;
  --clr-primario-claro: #ffa040;
  --clr-primario-oscuro: #c43e00;
  --clr-secundario: #37474f;
  --clr-secundario-claro: #62727b;
  --clr-secundario-oscuro: #102027;
  --clr-blanco: #f9f9f9;
  --clr-blanco-alt1: #ffffff;
  --clr-blanco-alt2: #c6c6c6;
  --ff-titulos: "Helvetica Neue";
  --ff-body: "Suisse Intl";
  --h1: 49px;
  --h2: 39px;
  --h3: 25px;
  --h4: 20px;
}
/*** Reset ***/
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
li {
  padding-inline: 0;
}
img {
  max-width: 100%;
  display: block;
}

/*** Base ***/
body {
  color: var(--clr-secundario-oscuro);
  background-color: var(--clr-blanco);
  font-family: var(--ff-body);
}
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--ff-titulos);
}
/* Typescale */
h1 {
  font-size: var(--h1);
}
h2 {
  font-size: var(--h2);
}
h3 {
  font-size: var(--h3);
}
h4 {
  font-size: var(--h4);
}
h5 {
  font-size: var(--h5);
}
h6 {
  font-size: var(--h6);
}

/*** Componentes ***/
/* Header */
.header {
  display: flex;
  padding: 50px 30px 30px 30px;
}
.header__logo {
  /* TODO */
  width: 400px;
}
.header__menu {
  flex: 1;
  align-self: end;
  text-align: right;
  padding: 0 0.5rem 0.5rem 0;
}

/* Logo */
.logo {
  height: 300px;
  display: flex;
  background-color: var(--clr-blanco);
  justify-content: space-between;
  align-items: center;
}
/* Carrousel */
.carrousel {
  width: 100%;
  display: flex;
  border-top: 3px solid var(--clr-secundario-oscuro);
  border-left: none;
  border-right: none;
}

.carrousel > * {
  flex: 1;
}

.carrousel__titulo {
  font-family: var(--ff-titulos);
  padding: 60px 30px 30px 30px;
  font-size: var(--h2);
  color: var(--clr-secundario-oscuro);
}
.carrousel__subtitulo {
  font-family: (--ff-body);
}

.carrousel__titulo button {
  border-radius: 50px;
  justify-self: center;
  background: var(--clr-primario);
  margin-top: 80px;
  width: 400px;
  height: 50px;
  color: white;
  font-size: 13pt;
  border-style: none;
  text-transform: uppercase;
}

.carrousel-container figure img{
  width: 100%;
  height: 500px;
  object-fit: cover;
}

/* https://browserdefaultstyles.com */
.carrousel__imagen {
  max-width: 50%;
}

/* Noticias */

.news {
  border-top: 3px solid var(--clr-secundario-oscuro);
  border-right: 3px solid var(--clr-secundario-oscuro);
  border-bottom: 3px solid var(--clr-secundario-oscuro);
  width: 30%;
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
}
.news_titulo {
  font-family: var(--ff-titulos);
  justify-content: space-around;
}
.news_item {
  display: flex;
  justify-content: left;
  margin: 20px 0;
  gap: 20px;
}

/* .news_img{

} */
.news_text {
  display: flex;
  flex-direction: column;
}
.news_headline {
  font-family: var(--ff-titulos);
  margin-bottom: 10px;
}

.news_summary {
  font-family: var(--ff-body);
  font-size: 10pt;
}
/* Main */
.main {
  display: flex;
}

.contacto {
  border-top: 3px solid var(--clr-secundario-oscuro);
  border-right: 3px solid var(--clr-secundario-oscuro);
  border-bottom: 3px solid var(--clr-secundario-oscuro);
  background-color: #f9f9f9;
  width: 20%;
  display: grid;
  place-content: center;
  overflow-wrap: anywhere;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  transition: all 400ms ease-in-out;
}

.contacto:hover {
  background-color: var(--clr-primario);
}
.contacto:hover p {
  color: #f9f9f9;
}

/* Galeria */

.galeria {
  padding: 30px 30px;
  border-top: 3px solid var(--clr-secundario-oscuro);
  border-bottom: 3px solid var(--clr-secundario-oscuro);
  width: 50%;
}
/* .galeria_items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
} */

.galeria_titulo {
  font-family: var(--ff-titulos);
  justify-content: left;
  margin-bottom: 10px;
}

.galeria__proyecto {
min-height: 250px;
}

/*.galeria__proyecto img {
  height: 200px;
  object-fit: cover;
} */

/* .galeria__proyecto img:after {
  position: absolute;
  content: "";
  inset: 0;
  opacity: 1;
  z-index: -1;
  transition: opacity 0.5s ease-out;
}

/* .galeria__proyecto img:hover::after {
  filter: opacity(0.5);
} */

.galeria_items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}

.galeria__proyecto figure {
  position: relative;
}

.galeria__proyecto figure > * {
  transition: all 0.4s ease-in-out;
}

.galeria__proyecto figure img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.galeria__proyecto figcaption {
  position: absolute;
  visibility: hidden;
  inset: 0;
/*  width: fit-content;
  height: fit-content; */
  display: grid;
  place-content: center;
  cursor: default;
}

.galeria__proyecto figcaption h3 {
  font-size: 17px;
  color: white;
  text-align: center;
}

.galeria__proyecto p {
  padding-block-start: 0.5rem; font-size: 17px;
  line-height: 1.3;
}

.galeria__proyecto figure:hover img {
  filter: blur(4px);
  /*opacity: 0.7;*/
}

.galeria__proyecto figure:hover figcaption {
  visibility: visible;
  background: #ff6f00a3;
}



/* Contacto */
.contacto_texto {
  color: var(--clr-primario);
  font-size: var(--h3);
  font-family: "Suisse Intl";
}

.carrousel-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carrousel-container .open:checked + figure {
  position: static;
  opacity: 100;
}

.carrousel-container figure {
  position: absolute;
  opacity: 0;
  transition: opacity 0.4s ease-out;
}

.carrousel-container figure img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

.carrusel-nav {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  color: #ffff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  transform: translate(0, -50%);
  transition: opacity 0.4s linear;
  text-align: center;
  width: 40px;
  z-index: 10;
}

.carrusel-nav.anterior {
  left: 0.5ch;
}

.carrusel-nav.siguiente {
  right: 0.5ch;
}

.carrusel-nav:hover {
  opacity: 0.8;
}

#uno:checked ~ .uno,
#dos:checked ~ .dos,
#tres:checked ~ .tres {
  display: block;
}

.carrusel-dots {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.carrusel-dots li {
  display: inline-block;
  margin: 0 0.5rem;
}

.dot {
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: block;
  font-size: 2rem;
  transition: opacity 0.4s linear;
}

.dot:hover {
  opacity: 0.8;
}

#uno:checked ~ .uno ~ .carrusel-dots li:nth-child(1) .dot,
#dos:checked ~ .dos ~ .carrusel-dots li:nth-child(2) .dot,
#tres:checked ~ .tres ~ .carrusel-dots li:nth-child(3) .dot {
  color: #428bca;
}

/* Nosotros */
/* Esto es mobile */
.nosotros {
  display: grid;
  max-width: 80vw;
  margin: auto;
  column-gap: 20px;
  row-gap: 50px;
  margin-bottom: 100px;
}
.nosotros h2 {
  text-align:left;
  padding-top: 40px;
  /* padding-bottom: 40px; */
}

.nosotros-item {
  display: grid;
  place-content: start;
  gap: 10px;

}
.nosotros img {
  object-fit: contain;
  margin: auto;
}

.nosotros-item h3,
.nosotros-item p {
  max-width: 85%;
  margin: auto;
}

/* Esto es desktop */
@media screen and (min-width: 600px) {
  .nosotros {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: min-content;
    max-width: 90vw;
    margin: auto;
    column-gap: 20px;
    row-gap: 0;
  }
  .nosotros h2 {
    grid-column: 1 / 4;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  /* .nosotros-item {
    background-color: lightblue;
    display: grid;
    place-content: start;
    gap: 20px;
  }
  .nosotros img {
    object-fit: contain;
    margin: auto;
  }

  .nosotros-item h3,
  .nosotros-item p {
    max-width: 85%;
    margin: auto;
  } */

}

/*** Utilidades ***/
.sr-only {
  display: none;
}
